html, body {
    background: -webkit-gradient(linear, left top, left bottom, from(#2EC4B6), to(#9EB1E9));
    background: linear-gradient(180deg, #2EC4B6, #9EB1E9);
    overflow-x: hidden;
    height: 100%;
}
i{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;

}
.noselect{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}
.chatbox__messages , .list ,.show--item--search{
    --scrollbarBG: #f1f1f1;
    --thumbBG: #7fb7f7;
}
.list ,.show--item--search{
    --scrollbarBG: #ddf5f6;
    --thumbBG: #b9daff;
}
.chatbox__messages::-webkit-scrollbar, .list::-webkit-scrollbar , .show--item--search::-webkit-scrollbar{
    width: 11px;
}
.chatbox__messages ,.list ,.show--item--search{
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.chatbox__messages::-webkit-scrollbar-track , .list::-webkit-scrollbar-track ,.show--item--search::-webkit-scrollbar-track{
    background: var(--scrollbarBG);
}
.chatbox__messages::-webkit-scrollbar-thumb , .list::-webkit-scrollbar-thumb , .show--item--search::-webkit-scrollbar-thumb{
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

/*chat*/

@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
    margin: 0;
    font-family: 'Roboto';
}

.visible {
    opacity: 1;
}

.colorPanel {
    position: absolute;
    margin: 70px auto;
    left: 0;
    right: 0;
    height: 200px;
    width: 200px;
    z-index: 3;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 0 30px #aaa;
    transition: all 0.12s;
}

.colorPanel__colorSlot {
    box-sizing: border-box;
    width: 33%;
    height: 33%;
    padding: 10px;
}

.colorPanel__color {
    height: 100%;
    width: 100%;
    border-radius: 100px;
    cursor: pointer;
    background: #eee;
    transition-duration: 0.12s;
}

.colorPanel__color:hover {
    opacity: 0.7;
}

.chatbox {
    z-index: 2;
    display: block;
    position: relative;
    max-width: 500px;
    margin:  auto;
    padding: 10px;
    background: #fff;
    border-radius: 15px;
    font-size: 17px
}

.chatbox__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-weight: 900;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    cursor: default;
    justify-content: space-between;
    border-bottom: 2px solid #f5f5f5;
}

.chatbox__headerText {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatbox__onlineDot {
    display: block;
    background: #00c853;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    margin-left: 5px;
    animation-name: blinking;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.chatbox__tooltip {
    opacity: 0;
    z-index: 2;
    width: auto;
    font-size: 12px;
    text-align: center;
    padding: 3px 10px;
    cursor: default;
    position: absolute;
    color: #fff;
    box-sizing: border-box;
    border-radius: 15px;
    background: #111;
    transition: all 0.14s;
}

.chatbox__tooltip--bottom {
    z-index: 20;
    top: calc(100% + 5px);
    top: -moz-calc(100% + 5px);
    margin-left: 5px;
    /*top: 5px;*/
}

.chatbox__tooltip--left {
    right: calc(100% + 5px);
    right: -moz-calc(100% + 5px);
    margin-left: 5px;
    top: 5px;
}
.chatbox__tooltip--right {
    left: calc(100% + 5px);
    left: -moz-calc(100% + 5px);
    margin-right: 5px;
    top: 5px;
}

.chatbox__messages {
    overflow-x: hidden;
    overflow-y: auto;
    height: 500px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

}

.chatbox__messageBox {
    width: 100%;
    margin-top: 5px;
    position: relative;
}

.chatbox__messageBox--primary {
    text-align: right;
}



.chatbox__message:hover {
    opacity: 0.7;
}

.chatbox__message:hover .chatbox__tooltip {
    opacity: 1;
}

.chatbox__message--primary {
    color: #fff;
    background: rgb(0, 132, 255);
    margin-left: 50px;

}
.chatbox__message {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    padding-right: 25px;
    border-radius: 15px;
    cursor: default;
    transition: all 0.12s;
}
.chatbox__message--get {
    background: #f1f1f1;
    margin-right: 50px;

}
.chatbox__inputPanel {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.chatbox__input {
    font-family: 'Roboto';
    font-size: 1em;
    width: 100%;
    border: none;
    background: #f3f3f3;
    margin: 0 10px;
    color: #444;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 5px 60px 5px 15px;

}
.chatbox__input:focus{
    outline: none;
    box-shadow: 0 0 5px rgba(62, 62, 62, 0.5);
}
.chatbox__button {
    display: inline-block;
    height: 20px;
    width: 22px;
    color: #fff;
    border-radius: 15px;
    background: #0084ff;
    cursor: pointer;
    font-weight: 900;
    transition-duration: 0.1s;
}

.chatbox__button:hover {
    opacity: 0.7;
}

@-moz-keyframes blinking {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blinking {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes blinking {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blinking {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.list--emoji
{

    opacity: 0;
     bottom: 14px;
    position: absolute;
    height: auto;
    right: -0px;
    width: 98px;
    background: #ffffffb5;
    border-radius: 0 15px 15px 0;
    padding: 5px 5px 5px 10px;

}
.item--list--emoji{
    z-index: 0;
    position: fixed;
    display: contents;
}


.btn-send{
    position: absolute;
    right: 23px;
    color: #4a84fe;
    padding: 5px;
}
.btn-file{
    position: absolute;
    right: 23px;
    color: #8c93a2;
    padding: 5px;
}
.btn-emoji{
    position: absolute;
    right: 47px;
    color: #8c93a2;
    padding: 5px;
}


.main--box{
    display: block;
    position: relative;
    max-width: 500px;
    margin: 60px auto;
}


/*LIST CHARS*/
.listbox
{
    top: 14px;
    position: absolute;
    height: 565px;
    left: -200px;
    width: 200px;
    background: #ffffffb5;
    border-radius: 15px 0 0 15px;


}
.list{
    overflow: auto;
    height: 467px;
    position: relative;
    border-radius: 0 0 0 15px;
}
.search--box
{
    padding: 10px;
    color: rgba(22,22,22,0.67);
}
.search--box input{
    width: 100%;
    border: none;
    background: rgba(255, 255, 255, 0.71);
    color: #444;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 5px 10px;
    padding-right: 30px;
}
.search--box input:focus{
    outline: none;
    box-shadow: 0 0 5px rgba(62, 62, 62, 0.5);
}
.show--item--search{
    overflow: auto;
    height: 520px;
    position: relative;
    border-radius: 0 0 0 15px;
}
.icon--search{
    font-size: 15px;
    position: absolute;
    right: 20px;
    top: 15px;
}
.info--box{
    border-radius: 10px;
    background: #ffffff;
    margin: 5px 5px 10px;
    height: auto;
    padding: 10px;
}
.info--name{
    font-size: 14px;
    text-align: center;
    color: #464646;
}
.item--chat{
    border-bottom: 1px solid rgba(215, 215, 215, 0.29);
    background: rgba(255, 255, 255, 0.46);
    height: 50px;
    color: #636869;
}
.item--chat--name{
    position: absolute;
    font-size: 13px;
    padding-top: 16px;
    padding-left: 14px;
}
.item--chat--id{
    font-size: 9px;
    margin-left: 10px;
    padding-top: 32px;
}
.item--chat--status{
    position: absolute;
    padding-top: 30px;
    margin-left: 60px;
    font-size: 12px;
    color: #9a9a9a;
}
.item--chat--new{
    background: #4a84fe;
    right: 16px;
    position: absolute;
    margin-top: 32px;
}
.item--chat--time{
    font-size: 12px;
    position: absolute;
    right: 14px;
    margin-top: 10px;
}
.item--chat--focus{
    border-bottom: 1px solid rgba(215, 215, 215, 0.29);
    background: rgb(255, 255, 255);
    height: 50px;
    color: #636869;
}
.item--search--title{
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
}
.no--message{
    text-align:center;font-size: 15px;color: rgba(22,22,22,0.61);margin-top: 15px;
}
.seen{
    z-index: 2;
    width: auto;
    font-size: 12px;
    text-align: center;
    padding: 3px;
    cursor: default;
    position: absolute;
    color: rgba(255, 255, 255, 0.78);
    box-sizing: border-box;
    border-radius: 15px;
    right: 6px;
    bottom: 2px;
}
.isNew{
    text-align: center;
    background: #e6f3ff;
    border-radius: 23px;
    font-size: 13px;
    margin: 5px 60px;

}
.dateChat{
    text-align: center;
    background: #e6f3ff;
    border-radius: 23px;
    margin: 5px 40%;
    padding: 1px 13px 1px 13px;
    font-size: 13px;
    position: relative;
    display: inline-block;
}

.last-seen{
    font-size: 10px;
    margin-left: 10px;
    color: #8c93a2;
}
.menu-delete
{

    opacity: 0;
    bottom: 300px;
    position: absolute;
    height: auto;
    right: -0px;
    width: 130px;
    background: #ffffffb5;
    border-radius: 0 15px 15px 0;
    padding: 5px 5px 5px 10px;

}
.menu-delete-pv{
    top: 24px;
    opacity: 0;
    position: absolute;
    height: auto;
    right: -0px;
    width: 130px;
    background: #ffffffb5;
    border-radius: 0 15px 15px 0;
    padding: 5px 5px 5px 10px;
}
.menu--item--delete{
    background: #ffccccbf;
    border-radius: 5px;
    padding: 0 10px 3px 10px;
    display: inline-block;
    margin-top: 5px;
    color: #353535;
    margin-left: 10px;
}
.menu--item--cancel
{
    background: #ffffff57;
    border-radius: 5px;
    padding: 1px 10px;
    display: inline-block;
    margin-top: 5px;
}
.image{
    max-width: 200px;
}
.download
{
    color: #212f4c;
    background: deepskyblue;
    border-radius: 10px;
    padding: 2px;
}
.card{
    display: block;
    position: relative;
    max-width: 500px;
    margin: 60px auto;
    background: #f0f8ffa8;
    padding: 15px 15px 15px;
    border-radius: 10px;
}
.card-header{
    text-align: center;
    margin-bottom: 10px;
    background: #f0ffff9c;
    padding: 5px;
    border-radius: 8px;}
.form-control{
    font-family: "Lato", sans-serif;
    font-size: 1em;
    border: none;
    background: #f9f9f996;
    margin: 4px 10px;
    color: #444;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 5px 60px 5px 15px;}
.form-control:focus{
    outline: none;
    box-shadow: 0 0 5px rgba(62, 62, 62, 0.5);
}
.form-group{
    margin-top: 8px;
}
.btn-primary
{
    background: linear-gradient(180deg, #92cde8, #9eb1e9);
    border: 0;
    padding: 5px 15px;
    color: azure;
    border-radius: 5px;
}
.btn-primary:focus
{
    background: linear-gradient(180deg, rgba(146, 205, 232, 0.52), rgba(158, 177, 233, 0.53));
    border: 0;
    padding: 5px 15px;
    color: azure;
    border-radius: 5px;
}
.btn-link{
    margin: 8px;
    font-size: 15px;
}
.form-check{
    margin: 16px 0;
}
.form-check-label{
    font-size: 15px;
}
.text-md-right{
    font-size: 13px;
}
.nav{
    background: #f0f8ffa8;
}
a{
    text-decoration: none;
}
.navbar-brand{
    color: #404040;
}


.profile-img{
   
}


@media only screen and (max-width: 887px) {
    .list--show{
       
    }

    .main--box{
        
    }
    
    
    /*LIST CHARS*/
    .listbox
    {
        display: inline-block;
        width: 100%;
        margin: 0px 200px;
        border-radius: 0px;
        
    }

    .chatbox {
        
        box-sizing: border-box;
        margin: 0;
        max-width: 100%;
        width: 100%;
        border-radius: 0;
        height: 60%;
    }
    .chatbox__messages {
        height: 86%;
    }
    .list--emoji{
        opacity: 0;
        bottom: 76px;
        position: absolute;
        height: auto;
        right: -0px;
        width: 30px;
        background: #ffffff;
        border-radius: 0px;
        padding: 27px 5px 40px 10px;
    }
    .item--list--emoji{
        z-index: 0;
    }
    .menu-delete{
        position: unset;
        width: 50%;
        border-radius: 0px;
    }
    .menu-delete-pv{
        top: 578px;
        position: absolute;
        height: 90%;
        left: -0px;
        width: 70%;
        border-radius: 0 0px 0px 0px;
        
    }

}


@media only screen and (max-width: 420px){
    .chatbox__headerText {
        width: 50vw;
        display: block;
     
        
    }
}